/* Small devices (tablets, up to 300px) */
@media (max-width: 500px) {
    .messageBox input {
        max-width: 100% !important;
        margin: 0 auto;
    }
    .sendBtn button {
        float: none !important;
        margin: 0 auto;
        margin-top: 10px;
    }
}

body {
    background-color: #2c3e50;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

/* UserName Box CONFIGURATIONS */
.nameSelectionBox {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 10;
    background-color: black; /*#2c3e50;*/
}

.nameForm {
    max-width: 500px;
}

.nameForm h3 {
    font-family: Helvetica, Arial, sans-serif;
    font-weight: bold;
    text-align: center;
    margin-bottom: 30px;
    font-size: 1.5em;
}

.nameForm .well {
    background-color: #6C5B7B;
    border: #34495e;

}

.nameForm h1 {
    font-size: 4em;
    font-weight: bold;
    text-align: center;
}

.nameEntry {
    margin: 0 auto;
    text-align: center;
    margin-bottom: 30px;
}

.nameEntry input {
    display: inline-flex;
    max-width: 150px;
}

.nameEntry button {
    display: inline-flex;
    margin-left: 10px;
    margin-top: -2px;
}

.errorMsgUsername {
    margin-top: 30px;
    text-align: center;
    color: #FF5733;
    display: none;
}

/* Main Container CONFIGURATIONS */
.mainBox {
    max-width: 800px;
    position: relative;
}

.brandBar {
    text-align: center;
    position: relative;
    margin-top: 30px;
    margin-bottom: 20px;
}
.headTitle {
    text-align: center;
    font-weight: bold;
    margin-bottom: 0px;
}

.usersBtn {
    position: absolute;
    top: 10%;
    right: 0;
    margin-right: 15px;
}

.brandBar p {
    color: #7f8c8d;
    font-size: .8em;
    /*font-weight: bold;*/
    letter-spacing: 3px;
}

.messageBox {
}

.messageBox input {
    max-width: 80%;
    float: left;
}
.sendBtn {
}

.sendBtn button {
    float: right;
    width: 90px;
    background-color: #e74c3c;
    color: white;
    border: #34495e;
}

.sendBtn button:hover {
    background-color: whitesmoke;
}
.sendBtn button span {
    margin-left: 6px;
}

.chatlyContainer {
}

.chatlyBox {
    background-color: #16a085;
    box-shadow: inset 0 1px 1px rgba(0,0,0,.4);
    color: #ecf0f1;
    word-wrap: break-word;
    border: #34495e;
    height: 400px;
    overflow: auto;
    padding: 10px;
}

.outTextBox, .inTextBox {
    padding: 5px;
    border: #34495e;
    margin-bottom: 10px;
}

.outTextBox {
    background-color: #1abc9c;
}

.inTextBox {
    background-color: #34495e;
}

.messageTime {
    text-align: right;
    padding: 0;
    margin: 0;
    color: #ecf0f1;
    font-size: 10px;
    letter-spacing: .06em;
}

.chatlyBox ul {
    list-style: none;
    padding-left: 0;
    margin: 0;
}

.chatlyBox ul b {
    color: #f1c40f;
}

/* FOOTER CONFIGURATIONS */
footer {
    margin-top: 50px;
    text-align: center;
}

footer p {
    font-size: .8em;
    color: #6C5B7B;
}
